
<links>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"></links>
        <style>
            .font-weight-bold {
  font-weight: 700 !important;
}


.bg-dark {
  background-color: #343a40 !important;
}

@media (min-width: 992px){
.navbar-expand-lg {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}}
.sticky-top {

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;

}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}


body {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}
        </style>
        
        <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark font-weight-bold ">
            <a class="navbar-brand" href="/malaria-profiler/"><i class="fa-solid fa-mosquito"></i> Malaria-Profiler </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <ul class="navbar-nav">                     
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/malaria-profiler/analysis">Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/malaria-profiler/result">Results</a>
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <a class="nav-link text-white" href="#" ,="" title="E-mail us!"><i class="fa-solid fa-envelope"></i></a>
                <a class="nav-link text-white" href="https://github.com/jodyphelan/malaria-profiler" ,="" title="GitHub"><i class="fa-brands fa-github"></i></a>
                <a class="nav-link text-white" href="https://pathogenseq.lshtm.ac.uk" title="PathogenSeq webpage"><i class="fa-solid fa-school"></i></a>
            </div>
        </nav>